In [1]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

def csv_to_database(csv, name):
    """
       Deze functie maakt een database van een csv bestand.
       Parameters:
                  csv  = Het csv bestand waar je een database van wil maken.
                         Zorg ervoor dat deze parameter een string is.
                         
                  name = De naam die je de database wil geven.
                         Zorg ervoor dat deze parameter een string is.
    """
    df = pd.read_csv(csv)
    df.to_sql(name, con=engine)
    
    return df

def show_query(query):
    """
       Deze functie print de output van je SQL query uit.
       Parameters:
                  query = Je SQL query.
                          Zorg ervoor dat deze parameter een string is.
    """
    query_output = engine.execute(query).fetchall()
    column_names = engine.execute(query)._metadata.keys
    return pd.DataFrame(query_output, columns = column_names)

In [2]:
import pandas as pd
import sqlite3

# Define database file path and output CSV file path
db_path = "database.sqlite"
csv_path = "data.csv"

# Connect to the SQLite database
conn = sqlite3.connect(db_path)

# Specify the table name to export (replace 'your_table_name' with the actual name)
table_name1 = "Country"
table_name2 = "League"
table_name3 = "Match"
table_name4 = "Player"
table_name5 = "Player_Attributes"
table_name6 = "Team"
table_name7 = "Team_Attributes"
table_name8 = "sqlite_sequence"

# Read data from the table into a Pandas DataFrame
df1 = pd.read_sql(f"SELECT * FROM {table_name1}", conn)
df2 = pd.read_sql(f"SELECT * FROM {table_name2}", conn)
df3 = pd.read_sql(f"SELECT * FROM {table_name3}", conn)
df4 = pd.read_sql(f"SELECT * FROM {table_name4}", conn)
df5 = pd.read_sql(f"SELECT * FROM {table_name5}", conn)
df6 = pd.read_sql(f"SELECT * FROM {table_name6}", conn)
df7 = pd.read_sql(f"SELECT * FROM {table_name7}", conn)
df8 = pd.read_sql(f"SELECT * FROM {table_name8}", conn)

# Close the connection to the database
conn.close()

# Save the DataFrame to a CSV file
df1.to_csv(csv_path, index=False)

print(f"Data from table '{table_name}' exported to '{csv_path}'")

DatabaseError: Execution failed on sql 'SELECT * FROM Country': no such table: Country

In [ ]:
df1

In df4 kun jij je de spelers opzoek door middel van search by "ID"

In [ ]:
df4

In [ ]:
df4["height"].max()

In [ ]:
df4["weight"].max()

In [ ]:
df2

Pas zelfgedefinierde functies toe op een seizoen naar keuze en bepaal daarmee de ranglijst van dat seizoen

In [ ]:
df_s1516 = df3[df3["season"] == '2015/2016'] 
df_s1516

In [ ]:
df_ci1516 = df_s1516 [df_s1516 ["country_id"] == 13274] 
df_ci1516

In [ ]:
pd.set_option('display.max_columns', None)

# Weergave van alle kolommen
print(df_ci1516)

Punten berekenen van elke team 
win = +3 
gelijk = +1 
gelijkspel en voor een nederlaag = 0 
eredivies 2015/2016 = https://www.google.com/search?q=eredivisie+2015%2F16&sca_esv=562607b38f2994ce&rlz=1C1ONGR_nlNL968NL968&sxsrf=ACQVn0-94uxDewzf5I30LATBYwVtYvWi7Q%3A1710327089727&ei=MYXxZcOBLKXyi-gPxPSukAw&oq=eredivisie+2015&gs_lp=Egxnd3Mtd2l6LXNlcnAiD2VyZWRpdmlzaWUgMjAxNSoCCAAyBRAAGIAEMgUQABiABDIFEAAYgAQyBRAAGIAEMggQABiABBjLATIFEAAYgAQyBhAAGBYYHjIGEAAYFhgeMggQABgWGB4YDzIGEAAYFhgeSM0iUJgDWNQPcAF4AZABAJgBfaAByQOqAQM1LjG4AQHIAQD4AQGYAgegAvMDwgIKEAAYRxjWBBiwA8ICChAuGEMYgAQYigXCAggQABiABBixA8ICChAAGIAEGIoFGEPCAggQLhiABBixA8ICGRAuGEMYgAQYigUYlwUY3AQY3gQY4ATYAQHCAg4QABiABBiKBRixAxiDAcICCxAuGIAEGLEDGIMBmAMAiAYBkAYIugYGCAEQARgUkgcDNi4xoAegKA&sclient=gws-wiz-serp#sie=lg;/m/0134d0pp;2;/m/04tdqs;st;fp;1;;;

In [ ]:
def update_standings(standings, team_id, points):
    if team_id not in standings['Team'].values:
        standings = standings.append({'Team': team_id, 'Points': points}, ignore_index=True)
    else:
        standings.loc[standings['Team'] == team_id, 'Points'] += points
    return standings

In [ ]:
import warnings

warnings.filterwarnings('ignore')

# Your code here

def update_standings(standings, team_id, points):
    if team_id not in standings['Team'].values:
        standings = standings.append({'Team': team_id, 'Points': points}, ignore_index=True)
    else:
        standings.loc[standings['Team'] == team_id, 'Points'] += points
    return standings

season_2015_2016 = df3[df3['season'] == '2009/2010']

standings = pd.DataFrame(columns=['Team', 'Points'])

for index, match in season_2015_2016.iterrows():
    home_team = match['home_team_api_id']
    away_team = match['away_team_api_id']
    home_goals = match['home_team_goal']
    away_goals = match['away_team_goal']

    if home_goals > away_goals:
        # Thuisploeg wint
        standings = update_standings(standings, home_team, 3)
    elif home_goals < away_goals:
        # Uitploeg wint
        standings = update_standings(standings, away_team, 3)
    else:
        # Het is een gelijkspel
        standings = update_standings(standings, home_team, 1)
        standings = update_standings(standings, away_team, 1)

standings = standings.sort_values(by='Points', ascending=False)

# Reset warnings to default behavior (optional)
warnings.filterwarnings('default')


standings

In [ ]:
df = pd.dataframe

In [ ]:
import pandas as pd

def update_standings(standings, team_id, points, wins, losses, draws, gf, ga):
  """
  Updates the standings DataFrame for a given team.

  Args:
      standings: DataFrame containing the current standings.
      team_id: ID of the team to update.
      points: Number of points to add to the team's current total.
      wins: Number of wins to add to the team's current total (optional).
      losses: Number of losses to add to the team's current total (optional).
      draws: Number of draws to add to the team's current total (optional).
      gf: Number of goals scored by the team to add to the current total (optional).
      ga: Number of goals conceded by the team to add to the current total (optional).

  Returns:
      The updated DataFrame.
  """
  if team_id not in standings['Team'].values:
    standings = standings.append({'Team': team_id, 'Points': points,
                                  'Wins': wins, 'Losses': losses, 'Draws': draws,
                                  'GF': gf, 'GA': ga}, ignore_index=True)
  else:
    idx = standings.index[standings['Team'] == team_id].tolist()[0]
    standings.loc[idx, 'Points'] += points
    if wins is not None:
      standings.loc[idx, 'Wins'] += wins
    if losses is not None:
      standings.loc[idx, 'Losses'] += losses
    if draws is not None:
      standings.loc[idx, 'Draws'] += draws
    if gf is not None:
      standings.loc[idx, 'GF'] += gf
    if ga is not None:
      standings.loc[idx, 'GA'] += ga
  return standings

# Sample match data (replace with your actual data)
season_2015_2016 = [
    {'home_team_api_id': 'team1', 'away_team_api_id': 'team2', 'home_team_goal': 2, 'away_team_goal': 1},
    # ... add more matches ...
]

# Define columns for the DataFrame
columns = ['Team', 'Points', 'Wins', 'Losses', 'Draws', 'GF', 'GA']

# Create empty DataFrame
standings = pd.DataFrame(columns=columns)

for match in season_2015_2016:
  home_team = match['home_team_api_id']
  away_team = match['away_team_api_id']
  home_goals = match['home_team_goal']
  away_goals = match['away_team_goal']

  if home_goals > away_goals:
    # Home team wins
    standings = update_standings(standings, home_team, 3, 1, 0, 0, home_goals, away_goals)
    standings = update_standings(standings, away_team, 0, 0, 1, 0, away_goals, home_goals)
  elif home_goals < away_goals:
    # Away team wins
    standings = update_standings(standings, away_team, 3, 1, 0, 0, away_goals, home_goals)
    standings = update_standings(standings, home_team, 0, 0, 1, 0, home_goals, away_goals)
  else:
    # Draw
    standings = update_standings(standings, home_team, 1, 0, 0, 1, home_goals, away_goals)
    standings = update_standings(standings, away_team, 1, 0, 0, 1, away_goals, home_goals)

# Sort and display standings
standings_sorted = standings.sort_values(by=['Points', 'GD'], ascending=[False, False])
print(standings_sorted)

In [ ]:
import pandas as pd

def update_standings(standings, team_id, points, wins, losses, gf, ga):
  """
  Updates the standings DataFrame for a given team.

  Args:
      standings: DataFrame containing the current standings.
      team_id: ID of the team to update.
      points: Number of points to add to the team's current total.
      wins: Number of wins to add to the team's current total (optional).
      losses: Number of losses to add to the team's current total (optional).
      gf: Number of goals scored by the team to add to the current total (optional).
      ga: Number of goals conceded by the team to add to the current total (optional).

  Returns:
      The updated DataFrame.
  """
  if team_id not in standings['Team'].values:
    standings = standings.append({'Team': team_id, 'Points': points,
                                  'Wins': wins, 'Losses': losses, 'GF': gf, 'GA': ga}, ignore_index=True)
  else:
    idx = standings.index[standings['Team'] == team_id].tolist()[0]
    standings.loc[idx, 'Points'] += points
    if wins is not None:
      standings.loc[idx, 'Wins'] += wins
    if losses is not None:
      standings.loc[idx, 'Losses'] += losses
    if gf is not None:
      standings.loc[idx, 'GF'] += gf
    if ga is not None:
      standings.loc[idx, 'GA'] += ga
  return standings

# Sample match data (replace with your actual data)
data = {
  'match_id': [15415, 15416, 15417, 15418, 15419],
  'home_team': ['team1', 'team2', 'team1', 'team2', 'team1'],
  'away_team': ['team2', 'team1', 'team2', 'team1', 'team2'],
  'home_goal': [2, 2, 1, 2, 2],
  'away_goal': [1, 1, 1, 2, 1]
}

df = pd.DataFrame(data)

# Define columns for the standings
columns = ['Team', 'Points', 'Wins', 'Losses', 'GF', 'GA']

# Create empty DataFrame for standings
standings = pd.DataFrame(columns=columns)

for index, row in df.iterrows():
  home_team = row['home_team']
  away_team = row['away_team']
  home_goals = row['home_goal']
  away_goals = row['away_goal']

  if home_goals > away_goals: