In [1]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

def csv_to_database(csv, name):
    """
       Deze functie maakt een database van een csv bestand.
       Parameters:
                  csv  = Het csv bestand waar je een database van wil maken.
                         Zorg ervoor dat deze parameter een string is.
                         
                  name = De naam die je de database wil geven.
                         Zorg ervoor dat deze parameter een string is.
    """
    df = pd.read_csv(csv)
    df.to_sql(name, con=engine)
    
    return df

def show_query(query):
    """
       Deze functie print de output van je SQL query uit.
       Parameters:
                  query = Je SQL query.
                          Zorg ervoor dat deze parameter een string is.
    """
    query_output = engine.execute(query).fetchall()
    column_names = engine.execute(query)._metadata.keys
    return pd.DataFrame(query_output, columns = column_names)

In [6]:
import pandas as pd
import sqlite3

# Define database file path and output CSV file path
db_path = "database.sqlite"
csv_path = "data.csv"

# Connect to the SQLite database
conn = sqlite3.connect(db_path)

# Specify the table name to export (replace 'your_table_name' with the actual name)
table_name1 = "Country"
table_name2 = "Country"
table_name3 = "Country"
table_name4 = "Country"
table_name5 = "Country"
table_name5 = "Country"

# Read data from the table into a Pandas DataFrame
df = pd.read_sql(f"SELECT * FROM {table_name1}", conn)

# Close the connection to the database
conn.close()

# Save the DataFrame to a CSV file
df.to_csv(csv_path, index=False)

print(f"Data from table '{table_name}' exported to '{csv_path}'")

Data from table 'Country' exported to 'data.csv'

In [4]:
df

       id         name
0       1      Belgium
1    1729      England
2    4769       France
3    7809      Germany
4   10257        Italy
5   13274  Netherlands
6   15722       Poland
7   17642     Portugal
8   19694     Scotland
9   21518        Spain
10  24558  Switzerland